{% extends 'base.html' %}
{% load static %}
{% block 'main' %}

<div class="cart-container">
    <div class="cart-content">
        <!-- Customer Detail Section -->
        <div class="customer-details">
            {% for i in data %}
                {% if forloop.counter == 1 %}
                    <h5>Customer Details</h5>
                    <hr>
                    <p><strong>Name : </strong> {{ i.uid.first_name }}</p>
                    <p><strong>Email : </strong> {{ i.uid.email }}</p>
                    <p><strong>Address : </strong>{{address.street_address}} {{address.city}} {{address.state}} {{address.postal_code}} </p>
                {% endif %}
            {% endfor %}
                <!-- <button class="btn btn-warning mt-2"><a href="/editaddress/{{i.uid.id}}" class="mx-2">Edit Address</a></button> -->
        </div>

        <!-- Product Details Section -->
        <div class="cart-items">
            <h4 class="mx-2">Cart Items</h4> <br>
            {% for i in data %}
            <div class="cart-item">
                <div class="item-image">
                    <img src="{{ i.pid.image.url }}" alt="Product Image">
                </div>
                <div class="item-details">
                    <p><strong>Product:</strong> {{ i.pid.name }}</p>
                    <p><strong>Category:</strong> 
                        {% if i.pid.cat == 1 %} Santa Statue 
                        {% elif i.pid.cat == 2 %} Christmas Tree 
                        {% elif i.pid.cat == 3 %} Decorations 
                        {% else %} Cloths 
                        {% endif %}
                    </p>
                    <p><strong>Details:</strong> {{ i.pid.pdetails }}</p>
                    <p><strong>Price (per item):</strong> Rs.{{ i.pid.price }}</p>
                    <div class="quantity-control">
                        <a href="/updateqty/0/{{ i.id }}" class="qty-btn">-</a>
                        <input type="text" value="{{ i.qty }}" class="qty-input" readonly>
                        <a href="/updateqty/1/{{ i.id }}" class="qty-btn">+</a>
                    </div>
                    <a href="/remove/{{ i.id }}" class="remove-btn">Remove</a>
                </div>
            </div>
            {% endfor %}
        </div>


        
        
    </div>
    <div class="cart-summary-container card p-4 shadow-sm mb-4">
        <h5 class="card-title text-primary">Cart Summary</h5>
        <hr>
        <div class="cart-total d-flex justify-content-between align-items-center">
            <p class="font-weight-bold">Total Cart Value:</p>
            <p class="text-danger font-weight-bold">Rs.{{totalamt}}</p>
        </div>
        <div class="text-center mt-3">
            <a href="/place_order">
                <button class="btn btn-success btn-block" style="width: 200px;">
                    Place Order
                </button>
            </a>
        </div>
    </div>
</div>


{% endblock 'main' %}
