{% extends 'adminbase.html' %}
{% load static %}

{% block 'main' %}
<div class="track-container">
    <div class="tracking-card">
        {% for i in data %}
        {% if errormsg %}
            <div class="alert alert-danger custom-alert" role="alert">
            <i class="bi bi-x-circle"></i> {{ errormsg }}
            </div>
        {% endif %}
        {% endfor %}
        <div class="card-header">
            <h3>Track Your Courier</h3>
        </div>
        <div class="card-body">
            <form class="tracking-form" method="POST">
                {% csrf_token %}
                <label for="tracking-number" class="input-label">Enter Tracking Number:</label>
                <input type="text" id="tracking-number" class="input-field" name="trackingid" placeholder="Tracking Number" >
                <button type="submit" class="track-btn">Track</button>
            </form>
        </div>
        
    </div>


</div>
{% endblock 'main' %}



<!--     
    <div class="tracking-details">
        <div class="detail-card">
            <h4>Customer Information</h4>
            <p><strong>Customer Name:</strong> <span class="detail-value">Suhas Gondukupi</span></p>
            <p><strong>Tracking Number:</strong> <span class="detail-value">OD101</span></p>
            <p><strong>Delivery Status:</strong> <span class="status-in-progress">In Progress</span></p>
            <p><strong>Current Location:</strong> <span class="detail-value">Pune, Maharashtra</span></p>
            
        </div>

        <div class="action-buttons">
            <button class="action-btn cancel-btn">Cancel Delivery</button>
            <button class="action-btn contact-btn">Mark as Deliver</button>
        </div>
    </div> -->

