{% extends 'adminbase.html' %}
{% load static %}

{% block 'main' %}
<div class="track-container">
    <div class="tracking-card">
    {% for i in data %}
        {% if errormsg %}
            <div class="alert alert-danger custom-alert" role="alert">
            <i class="bi bi-x-circle"></i> {{ errormsg }}
            </div>
        {% endif %}

        {% if success %}
            <div class="alert alert-success custom-alert" role="alert">
            <i class="bi bi-check-circle"></i> {{ success }}
            </div>
        {% endif %}
    {% endfor %}
        <div class="card-header">
            <h3>Track Your Courier</h3>
        </div>
        <div class="card-body">
            <form class="tracking-form" method="POST">
                {% csrf_token %}
                <label for="tracking-number" class="input-label">Enter Tracking Number:</label>
                <input type="text" id="tracking-number" class="input-field" name="trackingid" placeholder="Tracking Number" >
                <button type="submit" class="track-btn">Track</button>
            </form>
        </div>
        
    </div>


</div>
{% endblock 'main' %}





